html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr td:first-child {
  font-size: 2.4rem;
  color: blue;
}

tr td:last-child {
  font-size: 1.6rem;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
