* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(94, 195, 228);
  color: white;
  padding: 20px;
}

.img-container {
    width: 220px; height: 220px
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.minus,
.plus {
  cursor: pointer;
}
