* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(8, 8, 8);
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 100px;
    min-height: 100vh;
    width: 100%;
}

.fast-info {
    width: 50%;
}

.fast-info p {
    font-size: 0.8rem;
}

.about h3 {
    font-size: 30px;
}

.about p {
    text-align: justify;
    line-height: 30px;
}

.img-container {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.line {
    background-color: #fff;
    height: 10px;
    width: 100px;
}